*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    font-family: "Bebas Neue", sans-serif;

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
nav{
    height:100px;
    width:100%;
    background-color: #FFE30A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed; */
}
#menu{
    padding-left: 7vw;
    padding-bottom: 7px;
    height:50px;
    
}
#mid{
    padding-left: 40vw;
}
.capsule{
    height:50px;
    width:120px;
    /* background-color: black; */
    justify-content: space-evenly;
    border:2px solid black;
    border-radius: 25px;
    align-items: center;
    margin-right: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 5px;
    position:absolute;
    left:90%;
   background-color: white;
   display: flex;
}
#line{
    border:2px solid black;
    height:130%;
    width:1px;
    transform: -90deg;
    margin-bottom: 6px;
}
#ios,#android{
    height:27px;
    width:30px;
    padding-bottom: 5px;
}
#ios{
    margin-left:-20px;
    margin-right: 7px;
}
.first-page{
    /* margin-top:px; */
    /* padding: 20px; */
    height:96vh;
    width:100vw;
    /* background-color: black; */
    display: flex;
    font-family: "Bebas Neue", sans-serif;
}
#firstleft{
    height: 105vh;
    width:58.55vw;
    background-color:#FFE30A;
}

#firstright{
    height:105vh;
    width:42.0vw;
   
}
#firstright img{
    margin-top:-100px;
    height:119vh;
    width:100%;
}
.chat{
    height:65%;
    width:100%;
    font-size: 4.5rem;
    padding-left: 80px;
    margin-top: -20px;
    /* padding:10px; */
    /* margin:10px; */
    /* background-color: yellow; */

}
.firstpara{
    height:30%;
    width:70%;
    /* background-color: yellow; */
    padding:35px;
    font-size: xx-large;
    margin-top:-0px;
    padding-left: 90px;


}
.download button{
bottom:-115px;
letter-spacing: 1.2;
    height:60px;
    width:150px;
    padding:10px;
  color:black;
  background-color:whitesmoke;
border:2px solid transparent;
  border-radius: 40px;
  position:absolute;
  left:90px;
  font-weight: 700;
}
.secondpage{
    height:100vh;
    width:100vw;
    background-color: black;
    display:flex
}
.secondleft{
    height:100vh;
    width:60%;
}
#friends{
    color:#FFE30A;
    font-size: 3.5rem;
    font-weight: 700;
    margin:4rem 0 0 5rem;
    padding:5rem 0 0 1.5rem;
}
.store{
    width:30%;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    margin-left: 5rem;
}
.secondright video{
    height:85vh;
    margin-top: 5rem;
    margin-left: 3rem;
}
.thirdpage{
    height:70vh;
    width:100vw;
    color:black;
    background-color:#FFE30A;
    display: flex;
}
#thirdleft{
    
    font-size: 4rem;
    letter-spacing: 1.2;
    font-weight: 400;
    padding:5.5rem;
    margin-left: 0.8rem;
    
}
#thirdright{
width:50%;
display: flex;
}
#thirdpara{
    width:50%;
    font-size: 2rem;
margin-left: 18rem;
margin-top: 7rem;
}
#down button{
    height:60px;
    width:150px;
    padding:10px;
    border:2px solid transparent;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 20rem;
   margin-left: -24rem;
   letter-spacing: 1.2; 
}
.fourthpage{
   
    height:100vh;
    width:100vw;
    background-color: black;
    display: flex;
}
#fourthleft{
    height:100vh;
    width:60vw;
    padding:5rem;
    margin-left: 2rem;

}
#fourthleft img{
    height:80vh;
}
#fourthright{
    color:white;
    height:100vh;
    width:40vw;
}
#fourthrighthead{
    color:#FFE30A;
    height: 50%;
    width:50vw;
    font-size: 4rem;
    margin-right: 3rem;
    margin-left: -8rem;
    margin-top: 4rem;
    padding:2rem;
}
#fourthrightpara{
    margin-right: 3rem;
    margin-left: -6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
#thirddown button{
    letter-spacing: 1.2;
    height:60px;
    width:150px;
    padding:10px;
  color:black;
  background-color:#FFE30A;
border:2px solid transparent;
  border-radius: 40px;
  letter-spacing: 1.3;
  font-weight: 600;
  font-size:1rem;
  margin-left: -6rem;
}
button:hover{
    color:white;
    background-color: black;
}
#thirddown button:hover{
    color:#FFE30A;
    background-color:black;
    border:2px solid #FFE30A;
}

.fifthpage{
    width:100vw;
    height:200vh;
    background-color:#996BFF;
   
    
}
#firstblock{
   height:60vh;
   width:100vw;
   display: flex;
   align-items: center;
   background-color:#996BFF;

}
#firstboxtext{
    font-size: 9rem;
    font-weight: 800;
    margin-left: 15rem;
    letter-spacing:0.3rem;
}
#fifthdown button{
    letter-spacing: 1.2;
    height:60px;
    width:190px;
    padding:10px;
  color:black;
  background-color:#FFE30A;
border:2px solid transparent;
  border-radius: 40px;
  letter-spacing: 1.3;
  font-weight: 700;
  font-size:1rem;
  margin-left: 13.5rem;
}
#fifthdown button:hover{
    color:#FFE30A;
    background-color:black;
    border:2px solid #FFE30A;
}
#picblock{
    height:140vh;
    width:100vw;
    background-color:#996BFF;
    display:flex;
}
#horscope{
    height:100vh;
    width:100%;
    
}
#horscope img{
   background: linear-gradient(rgba(0, 0, 0, 0.5));
    height: 70%;
    width: 23.4rem;
    border: 2px solid transparent;
    border-radius: 1.5rem;
    opacity: 0.9;
   
    margin-left: 15rem;
    margin-top: 14rem;
z-index: 1;
    
}



#fiveleft{
    height:100%;
    width:40vw;
}

#gen button {
    letter-spacing: 1.2;
    height: 40px;
    width: 80px;
    padding: 10px;
    color: black;
    position: absolute;
    top:215.5rem; /* Adjust top position as needed */
    left: 31rem; /* Adjust left position as needed */
    background-color: #8E6BFF;
    border-radius: 6px;
    font-weight: 900;
    border: 2px solid transparent;
    z-index: 2; /* Ensure the button is above the image */
}
#hortext{
    font-size: 1.6rem;
    position: absolute;
    top:240rem;
    left:19rem;
    z-index: 2;
    color:white;
}
#fiveright{
    height:100%;
    width:60vw;
    background-color:#996BFF;

}

#tiptop{
    height:45%;
    width:60%;
    padding:5px;
    margin-left: 6rem;
    margin-top: 5rem;
    border:2px solid transparent;
    border-radius: 28px;
    opacity: 0.9;
    z-index: 1;
}
#product {
    letter-spacing: 1.2;
    height: 40px;
    width: 80px;
    padding: 10px;
    color: black;
    position: absolute;
    top:207rem; /* Adjust top position as needed */
    left: 71rem; /* Adjust left position as needed */
    background-color: #8E6BFF;
    border-radius: 6px;
    font-weight: 900;
    border: 2px solid transparent;
    z-index: 2; /* Ensure the button is above the image */
}
#tiptext{
    font-size: 3rem;
    position: absolute;
    top:222rem;
    left:50rem;
    z-index: 2;
    color:white;
    
}
#mambu{
    height:35%;
    width:50%;
    margin-left: 6rem;
    margin-top: 5rem;
    border:2px solid transparent;
    border-radius: 28px;
    opacity:0.9;
    z-index:1;
}
#ship{
    letter-spacing: 1.2;
    height: 40px;
    width: 100px;
    padding: 10px;
    color: black;
    position: absolute;
    top:241rem; /* Adjust top position as needed */
    left: 65rem; /* Adjust left position as needed */
    background-color: #8E6BFF;
    border-radius: 6px;
    font-weight: 900;
    border: 2px solid transparent;
    z-index: 1; /* Ensure the button is above the image */
}
#mambutext{
    font-size: 2.5rem;
    position: absolute;
    top:248rem;
    left:50rem;
    z-index: 1;
    color:white;
    
}
.creditpic{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.credits{
    height:110vh;
    width: 100vw;
    background-color: black;
    color: white;
    
}
.lastfirst li{
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500    ;
    letter-spacing: 1.3;
}
.lastfirst li:hover{
    text-decoration: underline;
}
.lastfirst h2{
    font-size: 3rem;
}
.lastfirst{
    
    line-height: 1.8;
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.lastsecond{
    display:flex;
    margin-left: 39%;
    margin-top: 1%;
    align-items: center;
    justify-content: space-evenly;
    height:20vh;
    width:20vw;
}
.lastlol li{
    list-style: none;
    list-style: none;
    
    font-size: large;
    font-weight: 500    ;
    letter-spacing: 1.3;
}
#lolfirst{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:20vh;
    width:45%;
}
#lolsecond{
    display: flex;
    margin-top: 1.rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    height:20vh;
    width:40vw;
}
.lastlol{
    display:flex;   
}
.dropbtn{
    margin-left: 105%;
}
.menu {
    position: relative;
    display: inline-block;
    margin-left: 7%;
}

.dropbtn {
    background-color:black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown.language {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%; /* Position the dropdown above the button */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.language:hover .dropdown-content {
    display: block;
}

.dropdown.language:hover .dropbtn {
    background-color:black;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    /* CSS rules for smaller screens */
}

/* For screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
    /* CSS rules for medium-sized screens */
}

/* For screens larger than 992px */
@media (min-width: 992px) {
    /* CSS rules for larger screens */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    nav {
        height: 80px;
    }

    .capsule {
        width: 100px;
        margin-right: 10px;
        padding-left: 20px;
    }

    .download button {
        left: 30px;
    }

    .secondleft {
        width: 50%;
    }

    #friends {
        margin-left: 2rem;
    }
}




















